#content-detailnews .content-about {
    padding: 30px 0;
}

#content-detailnews .item-name a {
    display: flex;
    align-items: center;
}

#content-detailnews .item-name img {
    flex-shrink: 0;
    width: 80px;
    margin: 0 10px 0 0;
}

#content-detailnews .sidebar-item .item-name p {
    padding: 0;
}

#content-detailnews .new-des--details {
    line-height: 1.8;
    font-size: 15px;
    text-align: justify;
}

#content-detailnews .new-des--details > p {
    padding-bottom: 8px;
}

.comments-form {
    font-size: 15px;
}

.title-comments {
    font-size: 18px;
}

.form-control-lg {
    font-size: 15px;
}

#content-detailnews .form-group label {
    font-weight: bold;
    padding-bottom: 5px;
}

#content-detailnews .btn.btn-dark.mt-3 {
    padding: 10px 20px;
    float: right;
}

#content-detailnews .btn.btn-dark.mt-3:hover {
    background-color:  var(--cl-primary);
}

#content-detailnews .sidebar {
    
}
  