* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
    margin: 0;
}

:root {
    --primary: #10d68b;
    --white: #fff;
    --black: #000;
    --color: #6c7293;
    --border: #2c2e33;
    --height-header: 74.8px;
    --box-border: #7a828e;
}

/* HEADER */
.wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    background-image: url(../../public/images/explore/login_background.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 450px;
    min-height: 100px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    padding: 15px 30px;
}

.icon-back {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 30px;
}

.icon-back>a>i {
    font-size: 20px;
    padding: 8px 15px;
    cursor: pointer;
    margin: -8px -15px;
    color: var(--white);
}

.form .heading {
    color: #fff;
    text-align: center;
    line-height: 1.4;
}

.form .heading>a {
    color: var(--white);
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 900;
}

.form .logo-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .logo-login img {
    width: 240px;
    padding: 10px;
    border-radius: 20px;
}

.form-forgot-passowrd .logo-login img {
    width: 220px;
}

.form-forgot-passowrd .icon-back>a>i {
    font-size: 14px;
    margin-top: 5px;
}

.form-group {
    display: flex;
    margin-bottom: 14px;
    flex-direction: column;
}

.form-help {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
}

.form-help a {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.4rem;
    margin-right: 5px;
    font-weight: bold;
}

.form-group.genderCssmodifier {
    margin-bottom: 0;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 700;
    line-height: 1.8rem;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.form-control {
    height: 42px;
    padding: 8px 20px 6px 20px;
    border: 2px solid var(--primary);
    border-radius: 50px;
    outline: none;
    font-size: 1.6rem !important;
}

.gender-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gender {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    height: 30px;
}

.gender .titlegender {
    margin-left: 5px;
}

.gender .form-control {
    height: initial;
}

.form-control:hover {
    border-color: #1dbfaf;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form-submit {
    outline: none;
    border: 2px solid var(--primary);
    background-color: transparent;
    height: 42px;
    padding: 0 16px;
    font-weight: 600;
    color: #fff;
    width: 100%;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.spacer {
    margin-bottom: 10px;
}

.check-remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    position: relative;
}

.check-remember input {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 10;
}

.check-remember input[type=checkbox] {
    accent-color: #10d68b;
}

.check-remember input[type="checkbox"]:checked {
    color: #fff;
}

.check-remember input::before {
    position: absolute;
    content: "";
    width: 110px;
    height: 100%;
    background-color: transparent;
    left: 100%;
}

.check-remember label {
    margin-left: 20px;
}

.login-withgg {
    width: 65%;
    display: flex;
    margin: 22px auto;
    justify-content: space-between;
    padding: 8px 15px;
    background-color: #fff;
    border-radius: 50px;
    color: var(--color);
    font-size: 1.6rem;
    border: 2px solid #7a828e;
    font-weight: bold;
    cursor: pointer;
}

.__-with__ {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.__-with__--item {
    width: 65%;
    margin: 20px auto 16px auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 42px;
    background-color: #fff;
    border-radius: 50px;
    color: var(--color);
    font-size: 1.6rem;
    border: 2px solid #7a828e;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.__-with__--item:first-child {
    margin-right: 5px;
}

.__-withgg,
.__-withfb {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.__-withgg img {
    width: 20px;
}

.__-withfb img {
    width: 22px;
}

.login-account .box-createaccount {
    margin-top: 0;
}

.box-createaccount {
    font-size: 1.4rem;
    text-align: center;
}

.box-createaccount a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primary) !important;
}

.errorLogin {
    display: block;
    text-align: center;
    color: #f33a58;
    font-size: 1.6rem;
}

.form-title {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: 5px 0 12px 0;
    color: var(--primary);
}

.login-with {
    width: 100%;
    height: 42px;
    display: flex;
    margin: 22px auto;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    background-color: #fff;
    border-radius: 50px;
    color: var(--color);
    border: 2px solid #7a828e;
    font-weight: bold;
    cursor: pointer;
}

.login-with img {
    width: 22px;
    font-size: 22px;
}

.login-with i {
    font-size: 20px;
}

.url-loginwith__ {
    display: block;
    text-decoration: none;
    margin: 0 auto;
}

.url-loginwith__ .title-with__ {
    font-size: 1.6rem;
}

.box-createaccount {
    margin-top: 30px;
    letter-spacing: .6px;
}

.acceptTerm {
    padding: 16px 5px 10px 5px;
    font-size: 12px;
    text-align: center;
    color: #cbcbcb;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    line-height: 1.6;
}

.acceptTerm a {
    color: #cbcbcb;
}

.errorLogin .congratulations {
    color: rgb(0, 255, 170);
}

.errorLogin .failed {
    color: rgb(255, 0, 0);
}

.mb-5px {
    margin-bottom: 5px !important;
}

.mt-10px {
    margin-top: 10px !important;
}

.my-10px {
    margin: 10px 0px !important;
}

.px-25px {
    padding: 0 25px !important;
}

.pt-10px {
    padding-top: 10px !important;
}

/* TABLET */
@media (min-width: 46.25em) and (max-width:63.9375em) {}

/* MOBILE */
@media (max-width: 46.1875em) {
    .form {
        width: 330px;
        height: 530px;
        position: relative;
        padding: 15px 30px;
    }

    .form .logo-login img {
        width: 200px;
    }
}